DemoWorkshop/DemoWorkshop.sln.DotSettings.user
DemoWorkshop/.idea/
DemoWorkshop/Assets/Plugins/Editor/JetBrains/
DemoWorkshop/Assets/Plugins/Editor/JetBrains.meta
DemoWorkshop/Library/
DemoWorkshop/Temp/
DemoWorkshop/obj/
DemoWorkshop/Logs/
